<%=turbo_frame_tag "test" do%>
<style type="text/css">
  
body h1, body h2, body h3, body h4, body h5 {
    font-size: 30px;
    font-family: "Segoe UI", Arial, sans-serif;
    /* Add other styles here */
    text-align: justify;
}

 p  {
    text-align: justify;
    width: 946px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 19px;
}
ul {
  list-style-type: disc;
  
  text-align: center;
      margin-left: 107px;
}

li::marker {
  text-align: left;
  margin-left: 20px;

}

li {
  margin-bottom: 5px;
   text-align: left;
}


</style>


<br><center>
    
   <div class="box-content h-40 w-full h-100 p-5 shadow bg-white " style="margin-left: -75px;width: 1044px;
    margin-top: -774px; height: 720px; overflow-y: auto;">
 
    <%=@topic_content.title.html_safe.html_safe%>
 
</div> 
</center>


<%end%>